<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Title }}
    {{ end }}
    </title>

    <link rel="icon" href="{{ "favicon.png"|relURL }}">
    <link rel="stylesheet" href="{{ "css/styles.min.css"|relURL }}">

    <!-- Custom CSS -->
    {{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href="{{ . | relURL }}">
    {{- end }}

    <!-- RSS -->
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  </head>
  <body>
    {{ if eq (default false .Site.Params.enableFacebookComments) true }}
    {{ with .Site.Params.facebookAppId }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId={{ . }}&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {{ end }}
    {{ end }}